@import "../../../style/variables.scss";

.single-comic {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    gap: 30px;

    &__info-container {
        display: flex;
        align-items: flex-start;
        flex: 1;
        gap: 30px;
    }

    &__img {
        width: 30%;
        max-width: 293px;
        max-height: 450px;
        margin: 0 auto;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 70%;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
    }
    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        min-width: 200px;
    }
    &__back,
    &__return {
        cursor: pointer;
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
}

@media (max-width: 1024px) {
    .single-comic {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
    .single-comic {
        &__info-container {
            flex-direction: column;
        }

        &__img,
        &__info {
            width: 100%;
        }
    }
}
